.popover {
    --min-width: 600px !important;
    --min-height: 600px !important;
    --ion-background-color: rgb(150, 145, 145);
    --ion-text-color: #ffffff;
    background-color: rgb(63, 63, 63);
}