<ion-header>
  <ion-toolbar>
    <ion-title>Emploi du temps</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- 
    (onTimeSelected)="onTimeSelected($event)"
  -->
  <calendar id='myCalendar'
  [eventSource]="eventSource"
  [calendarMode]="calendar.mode"
  [currentDate]="calendar.currentDate"
  (onCurrentDateChanged)="onCurrentDateChanged($event)"
  (onRangeChanged)="reloadSource(startTime, endTime)"
  (onEventSelected)="onEventSelected($event)"
  (onTitleChanged)="onViewTitleChanged($event)"
  (onTimeSelected)="onTimeSelected($event)"
  [step]="calendar.step"
  [startHour]='calendar.startHour'
  [endHour]='calendar.endHour'
  allDayLabel='All Day'
  [locale]='calendar.locale'
  (onDayHeaderSelected)='onDayHeaderSelected'
  autoSelect ='false'>
  </calendar>


  <ion-tabs>
    <ion-tab-bar slot='button'>
      <ion-tab-button ion-button color="secondary" routerLink="/edt"><ion-icon name="library-outline"></ion-icon>edt</ion-tab-button>
      <ion-tab-button ion-button color="secondary" routerLink="/map"><ion-icon name="map-outline"></ion-icon>map</ion-tab-button>
      <ion-tab-button ion-button routerLink="/contact"><ion-icon name="information-circle-outline"></ion-icon>contact</ion-tab-button>      
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
