<ion-header>
  <ion-toolbar>
    <ion-title>contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot='button'>
      <ion-tab-button ion-button color="secondary" routerLink="/edt"><ion-icon name="library-outline"></ion-icon>edt</ion-tab-button>
      <ion-tab-button ion-button color="secondary" routerLink="/map"><ion-icon name="map-outline"></ion-icon>map</ion-tab-button>
      <ion-tab-button ion-button routerLink="/contacts"><ion-icon name="information-circle-outline"></ion-icon>contact</ion-tab-button>      
    </ion-tab-bar>
  </ion-tabs>

<ion-item>
  <ion-label position="floating">Recherche</ion-label>
  <ion-input placeholder="Chercher une école, un bâtiment..."></ion-input>
</ion-item>

<!-- Début scrollbar -->
<ion-list>

  <ion-item *ngFor="let contact of itemListData">
    <!--
    <ion-avatar slot="start">
      <img [src]="contact.imageUrl">
    </ion-avatar>
    -->
    <ion-label>
      <ion-text>
        <h2>{{contact.name}}</h2>
        <p>{{contact.jobtype}}</p>
      </ion-text>
      <ion-text color="medium">
        <p>{{contact.email}}, {{contact.address}}</p>
      </ion-text>
    </ion-label>
  </ion-item>

</ion-list>

<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
<!-- Fin scrollbar -->

</ion-content>