<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Oui bravo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      Home Page
    </ion-card-header>
    <ion-card-content>
      <button ion-button color="secondary" routerLink="/edt">edt</button>
      <button ion-button color="secondary" routerLink="/map">map</button>
      <button ion-button routerLink="/contact">contact</button>      
    </ion-card-content>
  </ion-card>
</ion-content>

