<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Oui bravo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-tabs>
    <ion-tab-bar slot='button'>
      <ion-tab-button ion-button color="secondary" routerLink="/edt">edt</ion-tab-button>
      <ion-tab-button ion-button color="secondary" routerLink="/map">map</ion-tab-button>
      <ion-tab-button ion-button routerLink="/contact">contact</ion-tab-button>      
    </ion-tab-bar>
  </ion-tabs>

</ion-content>



